/* --------------------------------------------------------------- */
/*                            Import                               */
/* --------------------------------------------------------------- */

/* #region Import */

/* Import the Fonts and Spacers */
@import url('./fonts.css');

/* #endregion */

/* --------------------------------------------------------------- */
/*                 Theme Definitions & Variables                   */
/* --------------------------------------------------------------- */

/* #region Size-Variables */

:root {
  /* Global Sizes */
  --max-width-canvas: max(320px, min(90vw, 1000px));
  --max-width-module: max(300px, min(88vw, 950px));
  --max-width-container: max(280px, min(86vw, 900px));
    
  --font-size-basic:  clamp(10px, 1.2vw, 16px);

  --font-heading-xl:  clamp(2.000rem, 4.00vw, 2.000em); 
  --font-heading-l:   clamp(1.500rem, 3.20vw, 1.500em); 
  --font-heading-m:   clamp(1.000rem, 2.25vw, 1.000em); 
  --font-heading-s:   clamp(0.900rem, 2.00vw, 0.900em); 
  
  --font-copy-xl:     clamp(1.3rem, 2.6vw, 1.300em);
  --font-copy-l:      clamp(1.1rem, 2.2vw, 1.250em);
  --font-copy-m:      clamp(0.9rem, 1.8vw, 1.000em);
  --font-copy-s:      clamp(0.7rem, 1.4vw, 0.975em);

  /* Global sizes */
  --size-5xl: 50.000em;  /*     800px */
  --size-4xl: 37.500em;  /*     600px */
  --size-3xl: 31.250em;  /*     500px */
  --size-2xl: 25.000em;  /*     400px */
  --size-xl:  18.750em;  /*     300px */
  --size-l:   12.500em;  /*     200px */
  --size-m:    6.250em;  /*     100px */
  --size-s:    3.125em;  /*      50px */
  --size-xs:   1.563em;  /*      25px */
  --size-2xs:  0.625em;  /*      10px */
  --size-3xs:  0.313em;  /*       5px */
  --size-no:   0.000em;  /*       0px */

  /* Global Spacing */
  --spacer-3xl: 7.500em; /*     120px */
  --spacer-2xl: 5.000em; /*      80px */
  --spacer-xl:  4.000em; /*      64px */
  --spacer-l:   3.000em; /*      48px */
  --spacer-m:   2.500em; /*      40px */
  --spacer-s:   2.000em; /*      32px */
  --spacer-sx:  1.500em; /*      24px */
  --spacer-xs:  1.000em; /*      16px */
  --spacer-xns: 0.750em; /*      12px */
  --spacer-2xs: 0.500em; /*       8px */
  --spacer-3xs: 0.250em; /*       4px */
  --spacer-4xs: 0.125em; /*       2px */
  --spacer-no:  0.000em; /*       0px */

  --padding-4xl: clamp(5.0000em, 10.000vw, 10.000em);
  --padding-3xl: clamp(3.7500em,  7.500vw,  7.500em);
  --padding-2xl: clamp(2.5000em,  5.000vw,  5.000em); 
  --padding-xl:  clamp(1.8750em,  3.750vw,  3.750em);
  --padding-l:   clamp(1.2500em,  2.500vw,  2.500em); 
  --padding-m:   clamp(0.6250em,  1.250vw,  1.250em);
  --padding-s:   clamp(0.3125em,  0.625vw,  0.625em);
  --padding-xs:  clamp(0.1560em,  0.313vw,  0.313em);
  --padding-no:  0em; /* immer 0px */
    

  /* Global Lines */
  --line-size-2xl: 1.25em;   /* 20px */
  --line-size-xl:  0.625em;  /* 10px */
  --line-size-l:   0.3125em; /* 5px */
  --line-size-m:   0.1875em; /* 3px */
  --line-size-s:   0.0625em; /* 1px */
}

/* #endregion */

/* #region Color-Variables */

:root {
  /* Global Colors */
  --color-almostblack: #010e01;
  --color-almostwhite: #FBFCFD;
  --color-lightblue:   #8CD3F7;
  --color-blue:        #083BDB;
  --color-pink:        #D24B9E;

  /* Mapping */
  --background-color-details:    var(--color-pink);
  --background-color-references: var(--color-blue);  
}

/* #endregion */

/* --------------------------------------------------------------- */
/*                         Global Stuff                            */
/* --------------------------------------------------------------- */

/* #region Global */

/* Let's use the CSS3 box model */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-almostwhite);
  font-family: "Inter", sans-serif;
  margin: 0; 
}


html {
  scroll-behavior: smooth;
  font-size: var(--font-size-basic);
}

/* root element of the application */
.root {
  align-items: center;
  display: flex;
  justify-content: center; 
  margin: 0 auto;
  width: 100%; 
}

/* The canvas will hold the modules*/
.canvas {
  color: var(--color-almostwhite);
  margin: 0 auto;
  max-width: var(--max-width-canvas);
  padding: 0;
  background-image: url('/public/background.webp'); 
  background-repeat: repeat;
}

/* All modules shall have the same basics  */
.module {
  border-radius: var(--padding-xl);
  margin: 0 auto;
  max-width: var(--max-width-module);
  overflow: hidden;
}

/* If content, let's display it in a container */
.container {
  margin: 0 auto;
  max-width: var(--max-width-container);
  overflow: hidden;
  padding: var(--padding-m);
  width: 100%;
}

/* --------------------------------------------------------------- */
/*                      Global Geometry                            */
/* --------------------------------------------------------------- */

/* #region Global-Geometry */

/* Spacer classes */
[class^="spacer-"] {
  display: block;
}

.spacer-3xl  { height: var(--spacer-3xl); width: var(--spacer-3xl); }
.spacer-2xl  { height: var(--spacer-2xl);  width: var(--spacer-2xl); }
.spacer-xl   { height: var(--spacer-xl);   width: var(--spacer-xl); }
.spacer-l    { height: var(--spacer-l);    width: var(--spacer-l); }
.spacer-m    { height: var(--spacer-m);    width: var(--spacer-m); }
.spacer-s    { height: var(--spacer-s);    width: var(--spacer-s); }
.spacer-xs   { height: var(--spacer-xs);   width: var(--spacer-xs); }
.spacer-2xs  { height: var(--spacer-2xs);  width: var(--spacer-2xs); }
.spacer-3xs  { height: var(--spacer-3xs); width: var(--spacer-3xs); }

/* #endregion */

/* --------------------------------------------------------------- */
/*                          Colors Regional                        */
/* --------------------------------------------------------------- */

.details {
  background-color: var(--background-color-details);
  border: 2px solid var(--color-lightblue);
  padding: 20px;
}

.references {
  background-color: var(--background-color-references);
  border: 2px solid var(--color-lightblue);
}

.header-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-logo,
.header-image-header {
  display: block;
  flex: 1;
  text-align: center;
  max-width: 100%;
}

.header-image-logo {
  flex: 1 1 35%;
}

.header-image-header {
  flex: 1 1 30%;
}

.header-image-logo img, .header-image-header img  {
  max-width: 100%;
  height: auto;
}


#basics .basics-action-images {
  display: flex;
  justify-content: space-between; /* Behält einen gleichmäßigen Abstand bei */
  align-items: center;
}

#basics .action-image {
  flex: 1; /* Jedes Bild nimmt einen gleichen Anteil des Containers ein */
  max-width: 33%; /* Begrenzt die maximale Breite jedes Bildes auf 33% */
  margin: 0 10px; /* Fügt einen Abstand zwischen den Bildern hinzu */
}

#basics .action-image img {
  width: 100%; /* Stellt sicher, dass das Bild den verfügbaren Platz innerhalb seines Containers ausfüllt */
  height: auto; /* Behält das ursprüngliche Seitenverhältnis des Bildes bei */
}

#details .module.details {
  display: flex;
  flex-direction: column;
}

#details .content-with-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#details .text-side {
  flex: 1; /* Nimmt den verfügbaren Platz ein */
}

#details .image-side {
  flex: 0 1 50%; /* Nimmt bis zu 50% des verfügbaren Platzes, schrumpft bei Bedarf */
  max-width: 300px; /* Maximale Breite des Bildes */
}

#details img {
  width: 100%; /* Stellt sicher, dass das Bild die Breite des Containers ausfüllt */
  height: auto; /* Behält das Seitenverhältnis bei */
}

.title-with-icon {
  display: flex;
  align-items: center; /* Zentriert die Elemente vertikal */
  gap: 10px; /* Fügt einen horizontalen Abstand zwischen dem Icon und dem Text hinzu */
}

.title-icon img {
  display: block;
  width: 32px; /* Stellt die Breite des Icons ein */
  height: auto; /* Behält das Seitenverhältnis des Icons bei */
}

.references-content {
  display: flex;
  justify-content: space-between;
}

.left-column, .right-column {
  flex: 1; /* Beide Spalten nehmen gleich viel Platz ein */
  padding: 20px; /* Fügt etwas Platz im Inneren jeder Spalte hinzu */
}

.right-column {
  max-width: 50%; /* Begrenzt die Breite der rechten Spalte, um das Layout auszubalancieren */
}

.left-column {
  max-width: 50%; /* Begrenzt die Breite der linken Spalte */
}

/* Stile für das Bild */
.right-column img {
  width: 100%; /* Sorgt dafür, dass das Bild sich der Breite der Spalte anpasst */
  height: auto; /* Behält das Seitenverhältnis des Bildes bei */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}

.footer-logo {
  width: 20vw;
}

.footer-links p, .footer-links a {
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: var(--color-almostwhite);
}

.footer-links a:hover {
  font-weight: bold;
}


/* #region OrderForm */

/* Basis-Styles für Formularbereiche */
.floating-label-group,
.textarea-floating-label-group {
  position: relative;
  width: 100%;
}

/* Flexbox-Layout für Textarea */
.textarea-floating-label-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Grundlegende Styles für schwebende Labels */
.input-label,
.textarea-label {
  position: absolute;
  left: 10px; /* Mehr Abstand nach links */
  top: 0;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  color: var(--color-almostblack);
  font-family: 'Inter';
  font-weight: 200;
  pointer-events: none;
}

/* Verhalten von schwebenden Labels beim Fokussieren oder wenn ein Wert vorhanden ist */
.textarea-element:focus ~ .textarea-label,
.textarea-element:not(:placeholder-shown) ~ .textarea-label,
.input-element:focus ~ .input-label,
.input-element:not(:placeholder-shown) ~ .input-label {
  top: -20px; /* Weniger hoher Sprung */
  font-size: var(--font-copy-s);
  color: var(--color-almostwhite);
}

.order-form {
  position: relative; /* Stellt sicher, dass der Kreis relativ zur Form positioniert wird */
}



/* Flexbox-Layout für Zeilen im Formular */
.order-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Mehr Abstand zwischen den Reihen */
}

.floating-label-group {
  flex-grow: 1;
  margin-right: 10px; /* Fügt Abstand zwischen den Feldern hinzu */
}

.floating-label-group:last-child,
.order-form-row:last-child .floating-label-group {
  margin-right: 0; /* Entfernt den Abstand am rechten Rand des letzten Elements */
}

/* Anpassungen für kleinere Bildschirme */
@media (max-width: 600px) {
  .order-form-row {
    flex-direction: column;
  }

  .floating-label-group {
    margin-right: 0; /* Entfernt den rechten Abstand für schmalere Ansichten */
  }
}

/* Allgemeine Styles für Input-Elemente und Textarea */
.floating-label-group input,
.textarea-floating-label-group textarea {
  width: 100%;
  min-height: 40px;
  padding: 8px 8px 8px 16px; /* Mehr Abstand nach links */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--color-almostblack);
  transition: border-color 0.3s;
  align-items: center; /* Zentriert den Text vertikal */
}

.floating-label-group input:focus,
.textarea-floating-label-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Besondere Eigenschaften für die Textarea */
.textarea-floating-label-group textarea {
  min-height: 80px;
  resize: vertical;
}

/* Zusätzliche Textzeile für Pflichtfeld-Ankündigung */
.order-form-text-row {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

/* Styling für den Submit-Button */
.order-form-button-submit {
  min-width: calc(var(--size-m) + var(--size-m));
  background-color: var(--color-pink);
  border: 2px solid var(--color-lightblue);
  color: var(--color-almostwhite);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.order-form-button-submit:hover {
  background-color: var(--color-almostblack);
  color: var(--color-pink);
}

/* Positionierung und Styling des Preis-Tags */
.order-form-price-tag {
  position: absolute;
  top: -28%;
  left: 88%;
  width: var(--size-m);
  height: var(--size-m);
  color: var(--color-almostblack);
  background-color: var(--color-pink);
  border: 2px solid var(--color-lightblue);
  border-radius: 50%; /* Macht den Block kreisförmig */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Optional: Schatten für bessere Sichtbarkeit */
  z-index: 2;
}

/* #endregion */

/* Modal */

.contact-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-width: var(--size-l);
}

.contact-form-modal-content {
  background-color: var(--color-pink);
  color: var(--color-almostblack);
  border: var(--line-size-m) solid var(--color-lightblue);     
}

.contact-form-modal-content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: auto;
      border-radius: var(--padding-l);
      outline: none;
      padding: var(--padding-l);
      position: fixed;
}

.contact-form-modal-header {
  padding: 0 0 var(--spacer-s) 0;
}

.contact-form-modal-message {
  padding: 0 0 var(--spacer-s);
}

.contact-form-modal-button {
    border-radius: var(--padding-s);
    display: flex;
    padding: var(--spacer-xs) var(--spacer-s);
    justify-content: center;
    align-items: center;
    gap: var(--spacer-2xs);
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase; 
    width: calc(var(--size-l) + var(--size-s));
}

.contact-form-modal-button {
  background: var(--color-almostblack);
  border: var(--line-size-m) solid var(--color-lightblue);
  color: var(--color-pink);
}

.contact-form-modal-button:hover {
  background: var(--color-pink);
  border: var(--line-size-m) solid var(--color-lightblue);
  color: var(--color-almostblack);
}

/* #endregion */
.ReactModal__Overlay {
  z-index: 50; /* Setzt einen hohen z-index, um sicherzustellen, dass das Overlay über anderen Elementen liegt */
}
